# Notebooks and ipython
jupyterlab
notebook
ipython
jupyter
# Data handling
dask
h5py
openpyxl
scipy
pandas
pyreadstat
numpy
numba
jax
polars
pyarrow
jupysql
duckdb
duckdb-engine
# Visualization
plotly
matplotlib
seaborn
hvplot
kaleido
# Networks
networkx
igraph
netcbs
# ML and interpretability
scikit-learn
catboost
xgboost
lime
eli5
shap
imbalanced-learn
interpret
optuna
ray[tune]
torchtune
peft
hydra-core
jupyterlab-optuna
# Synthetic data //
metasyn
# Statistics 
statsmodels
#pymc3 (pymc3 is at the current version not playing nicely with the other packages in pip)
# Deep learning
torch
#tensorflow (nit does not play nicely with pip)
torch-geometric
#keras
#dgl
splink
gensim
pytorch-lightning
transformers
umap-learn
tensorboard
json5

